# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
--scratch pad: 
--table one: planned sewing projects: columns: project, beneficiary, culture, status (planned, started, in progress, complete); strings
--table two: writing paper projects: project, event its for, culture, status; strings


CREATE TABLE [JunkDB_stl_May2023].[planned_makes].[Sewing_Projects](
    Project_ID INT PRIMARY KEY,
    Project_Type CHAR,
    Culture CHAR,
    Project_Status CHAR
);

CREATE TABLE [JunkDB_stl_May2023].[planned_makes].[Writing_Projects](
    Project_ID INT PRIMARY KEY,
    Project_Title CHAR,
    Planned_Event CHAR,
    Culture CHAR,
    Project_Status CHAR,
);

: Msg 2760, Level 16, State 1, Line 6
The specified schema name "planned_makes" either does not exist or you do not have permission to use it.

Add three rows to your table that are your planned makes.

In [ ]:
-- Inserting rows into Sewing_Projects table
INSERT INTO [JunkDB_stl_May2023].[planned_makes].[Sewing_Projects] (Project_ID, Project_Name, Culture, Project_Status)
VALUES 
(1, 'Hood', 'Anglo-Saxon', 'Complete');
(2, 'Tunica', 'Roman', 'In Progress'),
(3, 'Hood', 'Anglo-Saxon', 'In Progress');
(4, 'Minoan outfit', 'Minoan', 'Complete')

INSERT INTO [JunkDB_stl_May2023].[planned_makes].[Writing_Projects] (Project_ID, Project_Name, Culture, Project_Status)
VALUES 
(1, 'Minoan Womens Dress', 'Minoan', 'Not Started');
(2, 'Name Projects', 'Israelite', 'In Progress'),
(3, 'History of Pennsic University', 'SCA today', 'Completed');

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE [JunkDB_stl_May2023].[planned_makes].[Sewing_Projects]
SET Project_Name = 'Pants', Culture = 'Anglo-Saxon', Status = 'Not Started'
WHERE Project_ID = 3;

## Delete a Row

Delete one of the rows from your table.

In [ ]:
UPDATE [JunkDB_stl_May2023].[planned_makes].[Sewing_Projects]
DELETE FROM [].[planned_makes].[Sewing_Projects]
WHERE Project_ID = 2;

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE [JunkDB_stl_May2023].[planned_makes].[Sewing_Projects];

DROP TABLE [JunkDB_stl_May2023].[planned_makes].[Writing_Projects];